*{
  margin:0;
  padding:0;
}

#container {
  border:1px solid blue;
  background:gray;
  float:left;
  text-indent:0;
}

#container ul {
  float:left;
  list-style:none;
}

#container ul li {
  position:relative;
  float:left;
}

#container ul li a {
  display:block;
  color:black;
  font-weight:bold;
  text-decoration:none;
  padding:.3em 6px;
}

/* Hover menu chính */
#container li a:hover {
  color:white;
  background:orange;
}

/* Ẩn menu con */
#container li ul {
  position:absolute;
  display:none;
  width:10em;
  background:white;
}

/* Hiện menu con khi hover */
#container li:hover ul {
  display:block;
}

/* Style mục con */
#container ul li ul li {
  width:100%;
  border:1px solid green;
}